/*
Author: http://webthemez.com 
*/
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);

/* Reset
---------------------------------*/
ul {
    list-style: none;
}

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important;
	text-decoration:none;
}
.lead {
    color: #4F4F4F !important;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
} 




/* Styles
---------------------------------*/
body {
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

h2 {
    font-size: 38px;
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: capitalize;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #222222;
    font-size: 18px;
    margin: 0 0 5px 0;
}

h6 {
    font-size: 16px;
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
}

/* Header Styles
---------------------------------*/

#header_wrapper {
    background: #F9F9F9;
    padding: 15px 0px;
    border-bottom: 1px solid #E8E8E8;
}

.header_box {
    position: relative;
}

.logo {
    float: left;
    margin-top: 8px;
	position: relative;
	z-index: 2;
}

.res-nav_click {
    display: none;
}
	

/* Nav Styles
---------------------------------*/
#main-nav {
    width: 100%;
    text-align: center;
    border-color: #EAEAEA;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    min-height: 40px;
    margin-bottom: 0px;
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
    color: #777777;
}

.navStyle {
    float: right;
}

.navStyle ul {
    list-style: none;
    padding: 0px;
    float: initial;
    text-align: center;
    margin: 0 auto;
}

.navStyle ul li {
    display: inline-block;
    margin: 0 5px;
    float: initial;
}

.navStyle ul li:first-child {
	/*margin:0px;*/;
}

.navStyle ul li:last-child {
    margin: 0 0 0 23px;
}

.navStyle ul li a {
    display: block;
    font-size: 14px;
    color: #525252;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-color: #fff;
}

.navStyle ul li a:hover {
    color: #004F9E;
}

.navStyle > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #004F9E;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #004F9E;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #004F9E;
    background-color: transparent;
}

.navStyle > li.active > a,
.navStyle > li.active > a:hover {
    text-decoration: none;
    color: #004F9E;
    background-color: transparent;
}

.scroll-link {
    /* color: #004F9E; */
}

.borderLeft {
    border-left: 1px solid #DADADA;
}

.borderTop {
    margin-top: 30px;
    border-top: 1px solid #DADADA;
}

.mrgTop {
    margin-top: 30px;
}
.form-control{background: transparent;padding: 20px 15px;border-color: #656565;border-radius: 0;}
.btn-primary {
    color: #2D2D2D;
    background-color: #1e90ff;
    border-color: #1e90ff;
    padding: 10px 34px;
    border-radius: 0;
}
.btn-primary:hover{
    background-color: #AF7300;
    border-color: #1e90ff;
    color: #FBFBFB;
}
/* Top_content
---------------------------------*/

.img-responsive {
    padding-top: 40px;
}

.top_cont_outer {
    position: relative;
    height: 750px;
    background: url('../img/home2.jpg') no-repeat;
    background-size: cover;
}
.top_cont_outer:before{content:'';position:absolute;top:0;width:100%;z-index:5;background: rgba(23, 26, 29, 0.85);height:100%;bottom:0;}
.hero_section {
    position: relative;
    padding-top: 72px;
    z-index: 5;
}

.white_pad {
    position: relative;
    right: 0px;
    bottom: 0px;
}

.white_pad img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.top_left_cont {
    padding: 110px 0;
}

.top_left_cont h3 {
    font-size: 16px;
    color: #f56eab;
    margin: 0 0 20px 0;
    text-align: left;
    font-weight: 700;
}

.top_left_cont h2 {
    font-size: 38px;
    color: #595959;
    margin: 0 0 0px 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 77px;
    text-transform: initial;
}

#evans {
    margin-bottom: -27px;
}

.top_left_cont h2 strong,
.skills {
    font-weight: 700;
    color: #1e90ff;
}

.top_left_cont p {color: #B1B1B1;margin: 0 0 50px 0;line-height: 24px;font-size: 14px;text-align: center;letter-spacing: 1px;font-weight: normal;}

a.read_more, a.read_more2 {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 16px;
    width: 178px;
    height: 46px;
    line-height: 46px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background: transparent;
    color: #0052A3;
    border: 1px solid #1e90ff;
    margin:10px auto 0 auto;
    text-decoration: none;
}
a.read_more{
	 color: #3C3C3C;
	 border: 1px solid #3C3C3C;
}

.read_more2 i {
    padding-left: 5px;
}

a.read_more2:hover, a.read_more:hover {
    background: #fff;
    border: 1px solid #fff;
}
a.read_more:hover {
    background: #fff;
    color: #ED5441;
    border: 1px solid #ED5441;
}

#read {
    color: #99CCFF;
}


/* Latest Work
---------------------------------*/


#work_outer {
    background: #f9f9f9;
    padding: 70px 0px;
    position: relative;
}

.work_pic {
    position: absolute;
    right: 0;
    top: 25%;
    width: 50%;
}

.inner_section {
    padding: 0px;
}

.service-list {
    padding: 0 0 0 0;
    font-size: 14px;
    margin-bottom: 40px;
}

.service-list-col1 {
    float: left;
    width: 60px;
    text-align: center;
}

.service-list-col1 i {
    color: #888;
    font-size: 19px;
    font-style: normal;
    line-height: 20px;
}

.service-list-col2 {
    overflow: hidden;
}

.page_section.alabaster {
    background: #fafafa;
}

.work_bottom {
    padding: 20px 0 0 0px;
}

.work_bottom span {
    font-size: 18px;
    color: #333333;
    display: block;
    margin: 0 0 20px 0;
}

a.contact_btn {
    background: #fff;
    text-transform: uppercase;
    display: block;
    width: 176px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 16px;
    color: #ED5441;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: 2px solid #ED5441;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

a.contact_btn:hover {
    background: #ED5441;
    color: #fff;
}

.input-text {
    background: transparent;
}


/* Portfolio
---------------------------------*/

#Portfolio {
    padding: 60px 0px;
    background-color: #F5F5F5;
}

.Portfolio-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.Portfolio-nav li {
    margin: 0 10px;
    display: inline;
}

.Portfolio-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    border-radius: 4px;
    text-transform: uppercase;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li a:hover {
    background: #ED5441;
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;
    width: auto !important;
}

.Portfolio-box {
    text-align: center;
    width: 350px;
    overflow: hidden;
    float: left;
    padding: 12px 0px;
}

.Portfolio-box img {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current {
    background: #ED5441;
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.page_section.paddind {
    padding-bottom: 60px;
}


/* About Us
--------------------------- */
 
.aboutUs-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 100%;
background-position-y: 70px;
}
#about-us .read-more{
	border: 1px solid #ED5441;
	color: #1a1a1a;
}

#about-us .read-more:hover{
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
	color: #fff;
}
.about-us-post-container{
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
}
.about-us{
	margin-top: 30px;
	margin-bottom: 0;
}
.about-us h3{
	font-size:28px;
}
.points{ 
	margin-bottom: 10px;
	font-size:14px;
    padding-left:0px;
    color: #4F4F4F;
}
.port-1-desc p {
    color: #4F4F4F;
}
.port-1-desc p a {
    color: #004F9E;
}
.about-us p{
	/*font-size: 0.9375em;*/
	line-height: 1.625em;
	padding: 15px 0;
}
.about-us .about-us-list{
	list-style: none;
	margin-bottom: 20px;
	padding-left:0px;
}

.about-us .points{
	position: relative;
	list-style-type: none;
  padding: 5px 0 5px 30px;
  font-size: 20px;
}

.about-us .points:before{
	content: "\f058";
	position: absolute;
	font-family: FontAwesome;
	font-size: 1.125em;
	color: #1e90ff;
	left: 0px;
	top: 6px;
}

.about-us-link a:first-child{
	margin-left: 0;
}

.line-mf {
    width: 40px;
    height: 5px;
    margin: -10px auto 0 auto;
    background-color:#1e90ff;
}

.line-mf-white {
    width: 40px;
    height: 5px;
    margin: -10px auto 0 auto;
    background-color:#fff;
}

#aboutUs {
    padding: 60px 0 60px;
}

/* Contact
---------------------------------*/
.page_section.contact {
    padding: 90px 0 100px;
}
 
.contact_section {
    margin: 0 0 60px 0;
}

.contact_section h2 {
    font-size: 40px;
    color: #ffffff;
    margin: 0 0 20px 0;
}

.contact_section h6 {
    padding-top: 20px;
    color: #BFBFBF;
}

.contact_block {
    text-align: center;
}

.contact_block_icon {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    margin: 0px auto 20px;
}

.contact_block_icon.icon2 {
    border-color: #ED5441;
}

.contact_block_icon.icon3 {
    border-color: #49b5e7;
}

.contact_block_icon span {
    background: none repeat scroll 0 0 #f56eab;
    border: 5px solid #fff;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.contact_block_icon.icon2 {
    border-color: #ED5441;
}

.contact_block_icon.icon2 span {
    background: #ED5441;
}

.contact_block_icon.icon3 {
    border-color: #49b5e7;
}

.contact_block_icon.icon3 span {
    background: #49b5e7;
}

.contact_block_icon i {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    position: relative;
    top: 26px;
    z-index: 20;
}

.contact_block span {
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
}

.contact_block span a {
    display: block;
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
}

.contact_info {
    font-size: 15px;
    margin: 0 0 0 20px;
    padding-left: 0;
}

.contact_info  h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px;
    color: #fff;
}

.contact_info p {
    line-height: 28px;
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin: 0 0 30px;
}

.social_links {
    padding:0;
    margin: 0;
    display: block;
    overflow: hidden;
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

.social_links li {
    display: inline-block;
    margin-right: 4px;
    border: 1px solid #757575;
}

.social_links li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: #C1C1C1;
}

.social_links li a:hover, .social_links li a:focus {
    text-decoration: none;
    border-radius: 80px;
}

.twitter a:hover {
    color: #55acee;
}

.linkedin a:hover {
    color: #3b5998;
}

.github a:hover {
    color: black;
}
 

.form {
    margin: 0 66px 0 30px;
}

.input-text {
    padding: 15px 16px;
    border: 1px solid #ccc;
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 4px;
    font-size: 15px;
    color: #aaa;
    margin: 0 0 15px 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-text:focus {
    border: 1px solid #fff;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area {
    height: 230px;
    resize: none;
    overflow: auto;
    
}

.input-btn {
    width: 175px;
    height: 50px;
    letter-spacing: 0px;
    background: #0285FF;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: 0px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
    background: #fff;
    color: #222;
}

/* Footer
---------------------------------*/

.footer_wrapper {
    background: #2D2D2D;
}

.footer_bottom_container {
    border-top: 1px solid #3C3A3A;
    padding-top: 30px;
}

.footer_bottom {
    padding: 25px 0;
}

.footer_bottom span {
    display: block;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

.footer_bottom span a {
    display: inline-block;
    color:#99CCFF;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.footer_bottom span a:hover {
    color: #fff;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}


/*new_profolio*/



	
/* Portfolio */	
	
.container.portfolio_title {
    padding-bottom: 0px;
}

#portfolio {
    padding: 60px 0 40px;
}



/* Portfolio Filters */	

#filters {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    float: none;
    z-index: 2;
    position: relative;
}

#filters ul li {
    display: inline-block;
    margin: 0 5px;
}

#filters ul li a {
    display: block;
}

#filters ul li a h5 {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 10px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    background: transparent;
    border: #1e90ff solid 1px;
    color: #7C7C7C;
}

#filters ul li a:hover h5, #filters ul li a.active h5 {
    background: #1e90ff;
    color: #FFFFFF;
    text-decoration: none;
    border: #1e90ff solid 1px;
}

.section-title {
    padding-bottom: 10px;
}

.section-title h2 {
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    letter-spacing: -1px;
    margin: 0 0 15px;
    padding-bottom: 10px;
    text-align: center;
}

.section-title span {
    display: block;
    color: #888888;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 60px;
    text-align: center;
}


/* blog */
#Blog {
    padding: 60px 0;
}

#Blog .section-title{
    padding-bottom: 30px;
}
.card-blog {
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 10px;
}

.card-blog .card-img {
    overflow: hidden;
}

.card-blog .card-img img {
    width: 100%;
    height: auto;
}

.card-blog .card-body {
    position: relative;
}

.card-blog .card-footer {
    padding-top: 10px;
}
  
.card-blog .card-category-box {
position: absolute;
text-align: center;
top: -16px;
left: 15px;
right: 15px;
line-height: 25px;
overflow: hidden;
  }
  
  .card-blog .card-category {
display: inline-block;
color: #fff;
padding: 0 15px 5px;
overflow: hidden;
background-color: #0078ff;
border-radius: 4px;
  }
  
.card-blog .card-category .category {
color: #fff;
display: inline-block;
text-transform: uppercase;
font-size: .7rem;
letter-spacing: .1px;
margin-bottom: 0;
}

.card-blog .card-title {
font-size: 1.3rem;
padding-top: 1rem;
}

.card-blog .card-description {
color: #4e4e4e;
font-size: 1.3rem;
line-height: 1.5rem;
padding-bottom: 5px;
}

.card-blog .post-author {
display: inline-block;
}

.card-blog .post-date {
display: inline-block;
float: right;
color: #4F4F4F;
}

.post-author img {
width: 30px;
border-radius: 50%;
}

/* portfolio */
.port-1-img {
    position: relative;
    transition: all .3s;
}

.port-1-img img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    transition: .2s;
}

.port-1-img img:hover,
.port-1-img:hover {
    transform: translateY(-5px);
}

.port-1-actions {
    padding-top: 5px;
    color: #4F4F4F;
}

.port-1-actions a {
    font-size: 1.6rem;
    color: #004F9E;
}

.port-1-actions a:hover{
    color: #1e90ff;
}
/*
 Media Queries
--------------------------- */
@media (min-width: 768px) and (max-width: 1200px) {

.aboutUs-container {
background-repeat: no-repeat;
background-position: right;
background-size: auto 59%;
background-position-y: 150px;
}
}
@media (max-width: 768px) {
.navStyle {
float: right;
width: auto; 
text-align: center;
}
.aboutUs-container{
	background-image:none;
}
p{
font-size:14px;
}
.top_cont_outer {height: 420px;}
.hero_section {
position: relative;
padding-top: 10px;
}
.top_left_cont {
padding: 38px 0;
}
.top_left_cont .evans {
font-size: 25px;
color: #FFF;
line-height: 39px;
margin: 0 0 3rem 0;
}
.inner_section {
padding: 20px 0 20px;
}
#aboutUs img{
margin-bottom:20px;
}
#aboutUs h3{
font-size:26px;
line-height:22px;
}
.service_block h3 { 
font-size: 16px;
}
service_block p {
font-size: 14px; 
margin: 0px;
margin-bottom: 20px;
}
#filters ul{
padding-left:0px;
}
.form {
margin: 0 18px;
}
.page_section.team{
padding: 40px 0;
}
, #clients {
padding: 40px 0;
}
.client_logos ul li {
display: inline;
margin: 0 25px;
padding: 11px 0;
display: inline-block;
}
.social_links li {
    margin-bottom: 20px;
}
.top_left_cont h2 {
    font-size: 2rem;
}
.contact_section{
margin:0;
}
h2, .contact_section h2 {
font-size: 30px;
}
.page_section.contact {
padding: 60px 0 50px;
} 
.navbar-inverse .navbar-toggle .icon-bar{
background:#ED5441;
}
.navbar-inverse .navbar-toggle {
border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
background:none;
outline: none;
}
.navStyle ul li {
display: block;
}
.navStyle {
float: right;
width: 100%;
text-align:center;
}
.navbar {
border: 0px solid #fff;
min-height: 40px;
margin-bottom: 0px;
float: right;
}
.navStyle ul li {
display: block;
margin: 0px;
}
.navStyle ul li:last-child {
margin: 0px;
}
.navbar-inverse .navbar-nav > li > a {
color: #222; 
font-size:12px;
padding: 10px 11px;
}
} 
@media (max-width: 480px){ 
.navStyle {
float: left;
width: 100%; 
text-align: left;
}
.navbar {
border: 0px solid #fff;
min-height: 40px;
margin-bottom: 0px;
float: initial;
width: 100%;
}
.team_area {
width: 99%;
}
.read_more2{
display:none;
}
}
.rt-box {
float: left;
width: 70%;
text-align: left;
margin-left: 10px;
}
img.img.img-circle.lt-box {
float: left;
width: 60px;
height: auto;
}